<div class="container row contain">
    <div class="col-4">
      <div class="list-group">
        <li class="list-group-item list-group-item-dark center"><strong>Super Liga Argentina</strong></li>
        <button type="button" class="list-group-item list-group-item-action" [ngClass]="{'active': activeId === 'positions' }"
        routerLink="positions" [queryParams]="{liga: ligaCd, division: divisionCd}">Posiciones</button>
        <button type="button" class="list-group-item list-group-item-action" [ngClass]="{'active': activeId === 'fixture' }"
        routerLink="fixture" [queryParams]="{liga: ligaCd, division: divisionCd}">Fixture</button>
        <button type="button" class="list-group-item list-group-item-action" [ngClass]="{'active': activeId === 'promedios' }"
        routerLink="promedios" [queryParams]="{liga: ligaCd, division: divisionCd}">Promedios</button>
        <!--
        <button type="button" class="list-group-item list-group-item-action" [ngClass]="{'active': activeId === 'teams' }"
        (click)="addClass('/liga/teams')" routerLink="teams" [queryParams]="{liga: ligaCd, division: divisionCd}">Equipos</button>
        -->
      </div>
      </div>
      <div class="col-8 container">
        <div class="tab-content row justify-content-md-center" id="nav-tabContent">
          <router-outlet></router-outlet>
        </div>
      </div>
</div>