<nav class="navbar navbar-dark bg-dark">
  <ul class="nav nav-tabs" role="tablist"><!--
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{'active': url === 'tournament' }"  routerLink="tournament">Torneos</a>
    </li>-->
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{'active': url == 'prode' }" routerLink="/prode">Prode</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{'active': url == 'liga' }"
      routerLink="/liga" [queryParams]="{liga: 1, division: 1}">Super Liga</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{'active': url === 'contact' }" routerLink="/contact">Contacto</a>
    </li>
  </ul>
</nav> 