<nav class="navbar navbar-dark bg-dark">
  <ul class="nav">
    <li class="nav-item" *ngIf="islogged()">
      <button mat-button class="subHeader">Mis Pronosticos</button>
    </li>
    <li class="nav-item">
      <button mat-button class="subHeader" routerLink="/liga">Super Liga</button>
    </li>
    <li class="nav-item">
      <button mat-button class="subHeader" routerLink="/results">Resultados</button>
    </li>
    <li class="nav-item">
      <button mat-button class="subHeader">Contacto</button>
    </li>
  </ul>
</nav> 