.carousel-header {
    font-size: 4vW;
    color: white;
}

.text {
    font-size: 2vw;
    color: white;
}

button:focus {
    outline: none;
}

.carousel {
    margin-bottom: 60px;
}

.featurette-divider {
    margin-top: 60px;
    margin-bottom: 60px;
}