.carousel-header {
    font-size: 60px;
    color: white;
}

.text {
    font-size: 20px;
    color: white;
}

button:focus {
    outline: none;
}

.carousel {
    margin-bottom: 60px;
}

.image {
    width: 400px;
    height: 300px;
}

.featurette-divider {
    margin-top: 60px;
    margin-bottom: 60px;
}